<body>
	Hello <%= "#{@recruiter.first_name}" %>, 
	<br>

	Your job name <%= "#{@job.title}" %>  has got new applicant. <br>

	Applicant Name is <%= "#{@seeker.first_name}" %>

	<br>

	Thanks, <br>
	Jobify 
</body>