<body>
	Hello <%= "#{@seeker.first_name}" %>, 
	<br>
	We are are sorry. <br>

	You have not been shortlisted for this for the job. <br>

	Job Details are <br>

 	Job name <%= "#{@job.title}" %> <br>

	Company Name <%= "#{@job.company_name}" %> <br>

	We wish you for the best. <br>

	Hope, our path will cross in future.

	<br>

	Thanks, <br>
	Jobify 
</body>