<body>
	Hello <%= "#{@seeker.first_name}" %>, 
	<br>

	You have succefully applied for the job. <br>

	Your job name <%= "#{@job.title}" %> <br>

	Company Name <%= "#{@job.company_name}" %> <br>

	We wish you for the best.

	<br>

	Thanks, <br>
	Jobify 
</body>