<body>
	Hello <%= "#{@seeker.first_name}" %>, 
	<br>
	Wohhoo!! <br>
	You have been shortlisted for this for the job. <br>

	Job Details are <br>

 	Job name <%= "#{@job.title}" %> <br>

	Company Name <%= "#{@job.company_name}" %> <br>

	Recruiter Name <%= "#{@recruiter.first_name} #{@recruiter.first_name}" %> <br>

	We wish you for the best.

	<br>

	Thanks, <br>
	Jobify 
</body>